{% extends "base.html" %}
{% block content %}
  <div class="row">
    {% for card in cards %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        {% include "includes/card.html" with card=card %}
      </div>
    {% endfor %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <a href="{% url 'add-card' %}" class="text-decoration-none text-dark">
        <div class="card mb-3 shadow text-center">
          <div class="card-body">
            <p class="card-text">Add new card</p>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endblock %}